@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');
:root{
    margin: 0;
    padding: 0;

    /* CORES */
    --azul-claro: #3C9EAB;
    --azul-escuro:#10434A;
    
    --cinza: #1D2122;
    --cinza-secundario: #F2F3F3;
    
    --preto: #000;
    --branco: #FFFF;

    scroll-behavior: smooth;
    

    /* TEXTO */

    font-size: 16px;
    font-family: "Montserrat", "sans-serif";
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
/* HEADER MARANA */
#navHeader{
    padding: 10px 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 6px 6px gray;
}


#header{
    padding: 20px;
    background-color: var(--branco);
}

#navHeader a{
    padding: 30px;
    color:var(--preto);
    text-decoration: none;
    transition: .3s;
   

}

#navHeader a:hover{
    color: var(--azul-claro);
}

#btnContato{
    background-color: var(--azul-claro);
    color: var(--branco);
    padding: 1px 40px;
    border: 2px var(--azul-claro);
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 3px var(--azul-escuro);
    cursor: pointer;
}

#btnContato:hover{
    background-color: var(--branco);
    color: var(--azul-claro);
    transition: .3s;
}

/* FIM HEADER MARANA */


/* HOME TALLYSSON */
#home{
    background-image: url(imgs/Fundo/Mapa.png);
    margin-bottom: 5%;
}

#home-inicio{
    display: flex;
    margin-left: 12%;
    margin-right: 15%;
    margin-top: 2%;
}

#home-bloco-texto{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-right: 15%;
    opacity: 0.8;
}

.home-texto{

    font-size: 16px;
    color: var(--preto);
    opacity: 0.8;
}

#home-titulo{
    font-weight: 700;
    font-size: 50px;
}

#home-lojas-app{
    display: flex;
}

.home-loja-app{
    margin: 4px;
}

#home-imagem{
    width: 293px;
}
/* FIM HOME TALLYSSON */

/* FUNCIONAMENTO PEDRO */
#funcionamento {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);

}
.funcionamento-textos {
    display: flex;
    flex-direction: column;
    margin: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#funcionamento-detalhes {
    display: flex;
    flex-flow: row wrap;
    margin: 1%;
    justify-content: center;
}
#funcionamento-detalhes-01 {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}
#funcionamento-detalhes-02 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#funcionamento-imagem-celular {
    height: 453px;
    width: 293px;
}
#funcionamento-imagem-func01 {
    height: 70px;
    width: 70px;
    border-radius: 15px;

}
#funcionamento-imagem-func02 {
    height: 70px;
    width: 70px;
    border-radius: 15px;
}
.titulos_divisoes {
    font-size: 50px;
    margin: 0.1%;
}
.titulos_descricoes {
    font-size: 25px;
    margin: 1%;
}
.funcionamento-p {
    text-align: center;
}
.funcionamento-detalhes-textos {
    margin: 1%;
}

/* FIM FUNCIONAMENTO PEDRO */


/* GUSTAVO */
/* APP TOP  */

#app-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
    padding: 50px 300px;


    width: auto;
    height: 500px;

    color: var(--branco);
   
    background-color: var(--cinza);

}

.app-top-left-titulo{
    font-size: 2.5rem;
    font-weight: 700;
}

.app-top-left-texto{
    padding-right: 220px ;
}

.app-top-left-btn{
    padding: 50px 0;
    width: 250px;
    
}

#app-top-left-btn{
    border: none; 
    text-decoration:none;
    font-size: 1.125rem;
    padding: 15px;
    
    font-weight: 600;
    border-radius: 8px;
    color: var(--branco);
    background-color: var(--azul-claro);

    box-shadow: 0px 2px 3px var(--azul-escuro);
    cursor: pointer;
}


#app-top-left-btn:hover{
    background-color: var(--azul-escuro);
    transition: .3s;
    
}

.app-top-left-icones{
    width: 50px;
}


#app-top-right-mockup{
   height: 400px;
   width: auto;
}



/* PERGUNTAS FREQUENTES */
#perguntas{
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    flex-direction: column;    
    padding: 50px 300px;
    width: auto;
    
    

}
#perguntas-caixa-titulo{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
}
#perguntas-titulo{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#perguntas-sub-titulo{
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#perguntas-frequentes-caixas{
    align-items: start;
    width: 100%;

}

#perguntas-frequentes-caixas details p{
    border-top: var(--cinza) 1px solid;
    padding-top: 20px;
}

#perguntas-frequentes-caixas details{
    border: var(--cinza) 1px solid;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 10px;

}

#perguntas-frequentes-rodape{
    display: flex;
    flex-direction: column;    
    flex-wrap: nowrap;
    align-items: center;
    padding: 2%;

}
#perguntas-frequentes-rodape a{
  color: var(--azul-claro);
  text-decoration: none;
}

#perguntas-frequentes-rodape a:hover{
  font-weight: bold;
}
/* FIM PERGUNTAS FREQUENTES */


/* BANNER ATUALIZACOES */


#banner-atualizacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: var(--cinza-secundario);
    margin-bottom: 50px;
   
}

#banner-atualizacoes-image{
    background-image: url(imgs/Fundo/Acompanhe-novas-atualizacoes.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5%;
    height: 100%;
    width: 70%;
}


#banner-atualizacoes-titulo{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.banner-atualizacoes-btn{
    padding: 50px 0;
    width: 250px;
    
}

#banner-atualizacoes-btn{
    border: none; 
    text-decoration:none;
    font-size: 1.125rem;
    padding: 15px;
    
    font-weight: 600;
    border-radius: 8px;
    color: var(--branco);
    background-color: var(--preto);

    box-shadow: 0px 2px 3px var(--cinza);
    cursor: pointer;
}

#banner-atualizacoes-btn:hover{
    background-color: var(--cinza);
    transition: .3s;
    
}

/* FIM GUSTAVO */


/* FUNCIONALIDADES TALLYSSON */


#funcionalidades{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 12%;
    margin-right: 12%;
}

#funcionalidades-titulo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: "Montserrat", "sans-serif";
    color: var(--preto);
    opacity: 0.8;
    margin-bottom: -15px;
}

#funcionalidades-titulo-subtexto{
    font-size: 20px;
    font-family: "Montserrat", "sans-serif";
    color: var(--preto);
    opacity: 0.8;
}

#funcionalidades-bloco{
    display: flex;
    margin-top: 5%;
}

#funcionalidades-bloco-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

#funcionalidades-imagem{
    width: 350px;
}

#funcionalidades-bloco-textos{
    display: flex;
    flex-direction: column;
}


.funcionalidades-bloco-icones{
    width: 85px;
    border-radius: 15%;
    margin-bottom: -15px;
}

.funcionalidades-subtiulos{
    font-size: 23px;
    font-family: "Montserrat", "sans-serif";
    color: var(--preto);
    opacity: 0.8;
}


.funcionalidades-texto{
    font-size: 16px;
    font-family: "Montserrat", "sans-serif";
    color: var(--preto);
    opacity: 0.8;
}

#funcionalidades-bloco-textos-linha1{
    margin-bottom: 5%;
    display: flex;
}

#funcionalidades-bloco-textos-linha2{
    display: flex;
    margin-bottom: 5%;
}

#funcionalidades-bloco-textos-coluna1{
    margin-right: 5%;
}

#funcionalidades-bloco-textos-coluna2{
    margin-right: 5%;
}

